body {
    margin: 0;
    padding: 0;
    background-color: hsl(249.38deg, 48.48%, 12.94%);
    color: white;
    font-family: 'Roboto', sans-serif;
}

h1 {
    text-transform: uppercase;
}

h2 {
    text-align: center;
}

.container {
    display: grid;
    place-items: center;
    height: 100vh;
}

.main-container {
    margin-bottom: -6rem;
}

.info {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    padding: 20px;
}

.wrapper {
    max-width: 1600px;
    margin: 0 auto;
    width: 90%;
}

/* CLASES HEADER */
.header {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    justify-content: space-between;
    height: 65px;
    padding: 10px;
}

.header__title {
    text-align: left;
}

.header__nav {
    text-align: right;
}

.nav__list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav__item {
    display: inline-block;
    padding: 10px;
}

.nav__item a {
    text-decoration: none;
    cursor: pointer;
    color: white;
}

/* CLASES SECTION ACTIVIDAD */

.activity {
    margin: 1.5rem 0;
    padding: 3rem 0;
}

.activity__title {
    text-align: center;
    margin-bottom: 3.5rem;
}

.activity__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 2rem;
}

.activity__image {
    display: flex;
    justify-content: center;
}

.activity__image img {
    width: 300px;
    height: 300px;
}

.activity__text p, .selectedTheme__column p {
    line-height: 1.7;
}

/* CLASES TEMA */

.selectedTheme {
    margin: 3rem 0;
}

.selectedTheme__title {
    text-align: center;
    margin-bottom: 3.5rem;
}

.selectedTheme__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.selectedTheme__column {
    text-align: left;
}

.selectedTheme__subtitle {
    margin-top: 0;
}

.selectedTheme__image {
    display: block;
    margin: 0 auto;
    width: 400px;
    height: 300px;
}