html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

/* header */
.header {
    background-color: #e9e9e9;
    padding: 20px;
    text-align: center;
}

.header__title {
    color: #547980;
}

.header__nav {
    margin-top: 20px;
}

.nav__menu {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

.menu__item {
    margin-right: 10px;
}

.menu__link {
    padding: 10px 20px;
    background-color: #547980;
    color: #FFF;
    text-decoration: none;
    cursor: pointer;
}

.menu__link:hover,
.menu__item-side:hover {
    background-color: #83c0cb;
}

.content__columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.content__column {
    padding: 1rem;
}

.content__image {
    display: block;
    margin: 0 auto;
    width: 500px;
    height: 300px;
}

.content__code {
    background-color: #41474a;
    padding: 1rem;
}

.content__code-text {
    font-size: 1rem;
}

code {
    color: #8ca2e3;
}

.info__image {
    border-radius: 50%;
}

/* main-wrapper */
.main-wrapper {
    display: grid;
    grid-template-columns: 20% 80%;
}

/* Barra de navegación vertical */
.sidebar {
    background-color: #9DE0AD;
    padding: 20px;
}

.sidebar__nav {
    display: flex;
    justify-content: center;
}

.nav__menu-side {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.menu__item-side {
    margin-bottom: 2px;
    background-color: #547980;
    padding: 10px 20px;
}

.menu__link-side {
    text-decoration: none;
    color: #FFF;
    cursor: pointer;
}

/* Contenido en el lado derecho */
.selectedTheme {
    background-color: #E5FCC2;
    padding: 20px;
}

.selectedTheme__subtitle {
    color: #547980;
}

.selectedTheme__column {
    text-align: center;
}

.main__column {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.height-content {
    height: 73vh;
}

.image__team {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin-bottom: 1rem;
}

/* footer */
.footer {
    background-color: #547980;
    color: #FFF;
    text-align: center;
    padding: 10px;
}

@media (max-width: 768px) {

    .main-wrapper {
        display: block;
    }

    .main__column {
        display: block;
    }

    .height-content {
        height: 100vh;
    }

    img.selectedTheme__image {
        width: 100%;
    }

}